{
    "extends": ["@react-native-community", "prettier"],
    "plugins": ["react", "react-native", "prettier"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": "error",
        "react/prop-types": "off",
        "no-unused-vars": "off",
        "react/display-name": "off",
        "@typescript-eslint/no-unused-vars": "warn"
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    }
}
